* {
    box-sizing: border-box;
    text-align: center;
    margin:0 auto;
}
body {
    background: #777;
    width: 960px;
    color: #777;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    background: #ebebeb;
    margin-bottom: 10px;
    padding: 35px;
}

#nav {
    background: #ebebeb;
    margin-bottom: 20px;
    padding: 35px;
}

.full {
    background: #ebebeb;
    float: left;
    height: 180 px;
    width: 48.9%;
    margin-bottom: 20px;
}

.aside {
    background: #ebebeb;
    float: left;
    height: 220px;
    width: 48.9%;
    margin-bottom: 20px;
    margin-left: 20px;
}

footer {
    
    clear: both;
    background: #ebebeb;
    padding: 35px;
}